@media screen and (min-width: 600px){
    #header{
        /* height: calc(width/15px); */
        vertical-align: middle;
        background-color: lightgrey;
        align-items: center;
        text-align: center;
    }
    .heading{
        height: 75%;
        font-size: 100%;
        display: inline-block;
        padding: 0px 1% 0px 1%;
        margin-left: 1%;
        margin-right: 1%;
        text-decoration: underline .1em rgba(0, 0, 0, 0);
        text-underline-offset: .2em;
        /* background: linear-gradient(90deg, white 50%, lightgrey 50%); */
        transition: text-decoration-color 300ms, text-underline-offset 300ms, background-color 300ms;
    }
    @keyframes highlight_header {
        0% {background: linear-gradient(90deg, white 0%, lightgrey 0%);}
        12.5%{background: linear-gradient(90deg, white 12.5%, lightgrey 12.5%);}
        25%{background: linear-gradient(90deg, white 25%, lightgrey 25%);}
        37.5%{background: linear-gradient(90deg, white 37.5%, lightgrey 37.5%);}
        50%{background: linear-gradient(90deg, white 50%, lightgrey 50%);}
        62.5%{background: linear-gradient(90deg, white 62.5%, lightgrey 62.5%);}
        75%{background: linear-gradient(90deg, white 75%, lightgrey 75%);}
        87.5%{background: linear-gradient(90deg, white 87.5%, lightgrey 87.5%);}
        100%{background: linear-gradient(90deg, white 100%, lightgrey 0%);}
        
    }
    .heading:hover{
        cursor: pointer;
        background-color: white;
        text-underline-offset: .4em;
        text-decoration-color: rgba(0, 0, 0, 1);
        animation: highlight_header 100ms linear;
    }
    a{
        color: black;
        text-decoration: none;
    }
    #foodimg{
        width: 40%;
        float: right;
    }
    #outer{
        width: 50%;
        padding-left: 5%;
    }
    #foodname{
        font-size: 300%;
    }
}
@media screen and (max-width: 600px){
    html{
        background-color: blue
    }
}